<h2 class="blue-grey-text text-darken-2">About this Site</h2>

<h4 class="blue-grey-text text-darken-3">Usage</h4>

<p>Click a pushpin to reveal the location's name and capacity. Create an account to save your favorite locations. Save and delete as many locations as you'd like, and they will be displayed with the Citi Bike pushpin on the homepage and on the My Locations page.</p>

<p>If you'd like to find out more about Citi Bike, click <a href="https://www.citibikenyc.com">here</a>.</p>
<p>This project and Matthew Tessler have no affiliation with Citi Bike.</p>

<h4 class="blue-grey-text text-darken-3">Site Information</h4>

<p>This site is a project created and maintained by Matthew Tessler, a student at New York University majoring in Computer Science. Find his portfolio website <a href="http://matthewtessler.com">here</a>.</p>

<p>Code available on <a href="https://github.com/matthewtessler/bike-nyc" target="_blank">GitHub</a>.</p>

<p>This is Matthew Tessler's final project for Professor Joe Versoza's Applied Internet Technology course. Check out his page <a href="http://cs.nyu.edu/~jversoza/">here</a>.</p>
