<h2 class="blue-grey-text text-darken-2">Log In</h2>
<p>{{message}}</p>
<p>New to Bike NYC? Make an account <a href="/register">here</a>.</p>
<form method="POST" action="">
		username: <input name="username" type="text">	
		password: <input name="password" type="password">	
		<input type="submit" value="Log In">	
</form>

<script>
	document.getElementById("login").className = "active"; /* make navbar link active */
</script>
