<h2 class="blue-grey-text text-darken-2">Register</h2>
<p>{{error}}</p>
<p>Already a Bike NYC user? Log in <a href="/login">here</a>.</p>
<form method="POST" action="">
		username: <input name="username" type="text">	
		password: <input name="password" type="password">	
		<input type="submit" value="Register">	
</form>

<script>
	document.getElementById("register").className = "active"; /* make navbar link active */
</script>
